* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

table, 
th, 
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 0 20px 0;
}
.tautan a{
    text-decoration: none;
    color: sienna;
}
.tautan a:hover{
    background-color: lightskyblue;
    color: #fff;
}
.Judul1{
    font-family: impact, "Arial Black", sans-serif;
    background-color: #6b8576;
    text-align: center;
    color: #f2f6f4;
    margin: 0;
    padding: 18px;
    font-weight: 800;
}
.container {
    max-width: none;
    margin: 0 auto;
    background-color: white;
}
.container > h2,
.container > p,
.tekstengah, .tautan, .summit, .bagian_akhir {
    padding: 10px 20px;
    max-width: none;
}

h2 {
    color: #2e6b4f;
}

p {
    margin-bottom: 10px;
}

ul, ol {
    margin-bottom: 10px;
    padding-left: 25px;
}
img{
    width: 100%;
    display:block;
}
figure img{
    width: 50%;
    border-top: 8px solid #2e6b4f;
    border-bottom: 8px solid #2e6b4f;
    margin-left: 15px;
}
.tekstengah{
    background-color: #ecf3ef;
}
.tautan{
    text-align: center;
}
.summit{
    background-color: #ecf3ef;
}
table {
    width: 100%;
    margin-top: 10px;
}

th {
    background-color: #2e6b4f;
    color: white;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: center;
}
nav {
    padding: 10px 20px;
    background-color: #f7f9ee;
}
nav a {
    margin-right: 15px;
    color: #2e6b4f;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
.container > h2{
    font-family: impact, "Arial Black", sans-serif;
    margin: 0;
    padding: 18px;
    font-weight: 800;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #f7f9ee;
    padding: 10px 20px;
}

.header h2 {
    font-size: 60px;
    margin: 0;
    font-family: Impact, "Arial Black", sans-serif;
    color: #2e6b4f;
    border: none;
    padding: 0;
}
.header img{
    width: 50%;
}
.header nav {
    padding: 0;
    background: none;
}